* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	background-color: rgb(36,181,219);
}

header {
	height: 8.2vh;
	width: 90vw;
	margin: 0 auto;
	text-align: center;
	line-height: 8.2vh;
	vertical-align: middle;
}

header img {
	height: 4vh;
	line-height: 8.2vh;
	vertical-align: middle;
}
/*不直接针对img设置行高，继承不下来，为什么？*/

.menu {
	float: left;
}

.quit {
	float: right;
}

header span {
	color: white;
	font-size: 3vh;
}

.discuss_container {

}

.discuss_over {
	background-color: rgb(176,229,243);
	height: 7.5vh;
}

.vote_guide {
	color: white;
	position: relative;
	height: 7vh;

}

.vote_guide span {
	vertical-align: bottom;
	line-height: 7vh;
	padding-left: 8vw;
}

.discuss_over span {
	line-height: 7.5vh;
	vertical-align: middle;
	padding-left: 7vw;
}

.discuss_over img {
	float: right;
	padding: 1.5vh 5vw;
	height: 4.5vh;
}

.triangle {
	height: 0;
	width: 0;
	border-top: solid rgb(176,229,243) 2vh;
	border-left: solid transparent 1.5vh;
	border-right: solid transparent 1.5vh;
	position: absolute;
	left: 10vw;
}

.player_container {
	list-style-type: none;
}

.player_container a {
	text-decoration: none;
}

.player {
	float: left;
	height: 12vh;
	width: 12vh;
	margin: 3vh;
	border: solid white 0.4vh;
}

.touxiang {
	text-decoration: none;
}

.player_role, .player_no {
	display: block;
	float: left;
	width: 12vh;
	text-align: center;
}

.player_role {
	height: 9vh;
	background-color: rgb(243,193,112);
	line-height: 9vh;
	vertical-align: middle;
	color: black;
	font-size: 2.7vh;
}

.player_no {
	height: 3vh;
	background-color: rgb(120,166,143);
	line-height: 3vh;
	vertical-align: middle;
	color: white;
}

.vote {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 16.4vh;
	background-color: rgb(36,181,219);
}

.vote a {
	display: block;
	height: 8.2vh;
	width: 44vh;
	background-color: rgb(250,170,47);
	margin: 4vh auto;
	text-decoration: none;
	color: white;
	font-size: 4vh;
	text-align: center;
	line-height: 8.2vh;
	vertical-align: middle;
}



