
.box {
	width: 32%;
	background-color: #f17e00;
	padding: 16%; /*16%*2*3=96%*/
	border-radius: 5%;
	/*浮动元素的外边距不会发生合并*/
	margin: 0.6666%;
}

.box-red {
	background-color: #ff0000;
}

.box-green {
	background-color: #00ff00;
}

.box-blue {
	background-color: #0000ff;
}