* {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
}

nav {
	float: left;
	width: 100vw;
	background: #000;
	height: 8vh;
}

section {
	float: left;
	background: #4DD1D6;
	height: 92vh;
}

li {
	list-style-type: none;
	float: left;
	line-height: 8vh;
}

li img,li span{
	vertical-align: middle;
}


li a{
	text-decoration: none;
	color: #fff;
}

.arrow span {
	font-size: 3v;
}

.title span {
	font-size: 4vh;
}

.arrow{
	width: 30vw;
	padding-left: 2vw;
}

.title {
	width: 34vw;
	text-align: center;
}

.menu {
	width: 30vw;
	text-align: right;
	padding-right: 2vw;
}

.arrow img {
	height: 6vh;
}

.menu img{
	height: 1.5vh;
}

.back img {
	width: 10%;
	max-width: 54px;
	padding: 3vw 6vw;
}

.logo,.logo img {
	width: 40vw;
	max-width: 181px;
	margin: 3vh auto;
}


.ptt {
	width: 70vw;
	padding: 0 15vw;
	font-size: 6vw;
	letter-spacing: 1vw;
	line-height: 8vw;
}

.right,.left {
	display: inline-block;
	text-align: center;
	margin-top: 10vw;
	width: 49vw;
	font-size: 4vw;
}

.right img, .left img{
	width: 15vw;
}




