* {
	margin: 0;
	padding: 0;
}


body {

	margin: 0 10% 0 10%;
}

nav {
	position: absolute;
	width: 80%;
	top: 0;
	background: #000;
	height: 4rem;
	line-height: 4rem;
}

section {
	position: absolute;
	background: #4DD1D6;
	width: 80%;
	top: 4rem;
	bottom: 0;
}

p {
	color: white;
	font-size: 1.6rem;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	color: white;
	vertical-align: middle;
}

li img {
	vertical-align: middle;
}


li.arrow {
	float: left;
	width: 20%;
	padding-left: 2%;
	font-size: 1.5rem;
}


li.title {
	float: left;
	font-size: 2rem;
	width: 56%;
	text-align: center;
}

li.menu {
	float: right;
	width: 20%;
	padding-right: 2%;
	text-align: right;
}

nav a {
	color: white;
	text-decoration: none;
}

.back {
	margin: 0;
	padding: 0;
	position: relative;
	top: 2rem;
	left: 5%;

}

div.logo {
	width: 181px;
	margin: 3rem auto 3rem auto;
}

section>p {
	width: 25rem;
	margin: 3rem auto 3rem auto;
	line-height: 3rem;
}

div.left {
	float: left;
	width: 40%;
	text-align: right;
}

div.right {
	float: right;
	width: 40%;
	text-align: left;
}


















